@import url(header.css);
@import url(footer.css);
@import url(snake-game.css);
@import url(score.css);

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
}

body{

    background-color: #ebebeb;
}

h1{
    display: flex;
    width: 100%;
    justify-content: center;
    color: var(--yellow);
    font-size: 3rem;
    padding-top: 1rem;
}

.menu{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    align-items: center;
    
}
.submenu{
    border: solid 2px #000;
    list-style-type: none;
    text-align: center;
    margin: 1rem;
}
.homeMenu{
    color: #000;
    text-decoration: none;
    font-size: 2rem;
    margin: 1rem;
}
.sound{
    border: none;
}

.hidden{
    display: none;
}

/* i{  
    color: #ffcf00;
    font-size: 2rem;
    list-style-type: none;
    text-align: center;
    margin: 1rem;
    cursor: pointer;
} */

