<%- include('./partials/head.ejs')  %>

<body>

    <%- include("./partials/headerHome.ejs")  %>

    <nav class="menu">
        <ul>
            <li class="submenu"><a class="play homeMenu" href="/snake/level">PLAY</a></li>
            <li class="submenu"><a class="scores homeMenu" href="/snake/score">SCORES</a></li>
            <li class="submenu"><a class="exit homeMenu" href="/snake/exit">EXIT</a></li>
        </ul>
    </nav>
    
    <%- include("./partials/footer.ejs")  %>
    
</body>
</html