<%- include('../partials/head.ejs')  %>

<body>

    <%- include("../partials/header.ejs")  %>

    <main>

        <div id="board"></div>

        <div class="boardInfo">
            <div id="score">
                <p class="score">Score: <span class="scoreSpan"></span> </p>
            </div>
            <button id="start">Start</button>
        </div>

        <div id="gameover">
            <p>Game Over</p>
        </div>
    </main>
    
    <%- include("../partials/footer.ejs")  %>

    <script src="/scripts/script.js"></script>
</body>
</html>