<%- include('../partials/head.ejs')  %>

<body>

    <%- include("../partials/header.ejs")  %>

    <main>
        <h1>PAGINA NUEVA</h1>    
    </main>
    
    <%- include("../partials/footer.ejs")  %>

    <script src="/scripts/script.js"></script>
</body>
</html>