<footer>
    <div class="back">
        <a class="backIcon" href="/snake"><i class="fa-solid fa-arrow-left"></i></a>
    </div>

    <div class="by">
        <p> made with ♥ by <a href="https://github.com/ffran-acosta">Franco Acosta</a> </p>
    </div>
</footer>