<header id="header">
    <!-- <section class="logo">
        <img src="/img/snake3.png" alt="">
    </section> -->
    <h1>SNAKE</h1>
    <!-- <section class="logo2">
        <img src="/img/snake3.png" alt="">
    </section> -->
</header>